<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 subcatalog-item">
	<a href="[~[+id+]~]" class="subcatalog-item-link">
		<span class="subcatalog-item-link-wrapper">
			<img class="subcatalog-item-link-img" src="/[[phpthumb? &input=`[+tv.img_plitca+]` &options=`w=500,h=280,far=C,bg=ffffff,q=60,f=jpeg`]]" alt="[+pagetitle:hsc+]">
			<span class="subcatalog-item-link-text">[+menutitle+]</span>
		</span>
	</a>
</div>