<li class="catalog_home_item col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<a href="[~[+id+]~]" class="catalog_home_item_link">
		<span style="background-image: url('/[[phpthumb? &input=`[+tv.img_plitca+]` &options=`w=534,h=400,far=C,f=png,bg=ffffff`]]');" class="catalog_home_item_link_background"></span>
		<span class="catalog_home_item_link_title text-center">[+pagetitle+]</span>
	</a>
</li>