<div class="specprod_list_item container-fluid">
	<h4 class="specprod_list_item_title pull-right col-lg-9 col-md-8 col-sm-9 col-xs-8"><a href="[~[+id+]~]">[+pagetitle+]</a></h4>
	<div class="specprod_list_item_image col-lg-3 col-md-4 col-sm-3 col-xs-4">
		<a href="#"><img src="[+ogimage+]" class="img-responsive center-block"></a>
	</div>
	<div class="specprod_list_item_description pull-right col-lg-9 col-md-8 col-sm-9 col-xs-8">
		<p class="specprod_list_item_description_wrapper">[+introtext:nl2br+]</p>
	</div>
	<div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-9 col-sm-offset-3 col-xs-12">
		[+price+]
	</div>
</div>