<div id="zayavka_render" class="hidden">
	<!--InitFormZayavka-->
	[!FormLister?
		&formid=`zayavka`
		&config=`zayavka:/assets/templates/skat_1.0.0/tpl`
	!]
	<!--FormZayavka-->
</div>
<div id="tehnic_render" class="hidden">
	<!--InitFormTechic-->
	[!FormLister?
		&formid=`zapchast`
		&config=`zapchast:/assets/templates/skat_1.0.0/tpl`
	!]
	<!--FormTechic-->
</div>
<!--InitFormCallme-->
[!FormLister?
	&formid=`callme`
	&config=`callme:/assets/templates/skat_1.0.0/tpl`
!]
<!--FormCallme-->