<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 navesnoe-tehnick text-center">
	<div class="navesnoe-tehnick-wrapper">
		<a href="[+url+]" class="clearfix center-block">
			<img class="img-responsive center-block" src="[[phpthumb? &input=`[+tv.ogimage+]` &options=`w=500,h=374,far=T,bg=ffffff,q=60,f=jpeg`]]" alt="[+menutitle+]">
			<span>[+menutitle+]</span>
		</a>
	</div>
</div>